{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}
{% block config_collapse %}show{% endblock config_collapse %}
{% block config %}active{% endblock config %}
{% block order_config %}active{% endblock order_config %}
{% block breadcrumbt %}
    <li class="breadcrumb-item "><a a class="text-light" href="{% url "main_dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item "><a a class="text-primary" href="">Order Configration</a></li>
{% endblock breadcrumbt %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body"> 
            <h4 class="card-title text-center text-primary">إعدادات الطلب</h4>
            <form method="post" class="mt-3 text-right">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.tax.errors }}
                    <label for="{{ form.tax.id_for_label }}">الضريبة</label>
                    {{ form.tax }}
                </div>
                <div class="form-group">
                    {{ form.commission.errors }}
                    <label for="{{ form.commission.id_for_label }}">العمولة</label>
                    {{ form.commission }}
                </div>
                
                <div class="form-group">
                    {{ form.maxRejectedNumber.errors }}
                    <label for="{{ form.maxRejectedNumber.id_for_label }}">الحد المسموح من الرفض</label>
                    {{ form.maxRejectedNumber }}
                </div>
                <hr>
                <h6 class=" text-center text-primary">أسعار التوصيل</h6>
                <hr>
                <div class="form-group ">
                    <label for="id_less_than_three_km">أقل من ثلاثة كيلومترات </label>
                    {{ form.less_than_three_km }}
                    {% if form.less_than_three_km.errors %}
                      <div class="text-danger">
                        {% for error in form.less_than_three_km.errors %}
                          <span>{{ error }}</span><br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  
                  <div class="form-group ">
                    <label for="id_between_three_and_six_km">بين ثلاثة وستة كيلومترات</label>
                    {{ form.between_three_and_six_km }}
                    {% if form.between_three_and_six_km.errors %}
                      <div class="text-danger">
                        {% for error in form.between_three_and_six_km.errors %}
                          <span>{{ error }}</span><br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  
                  <div class="form-group ">
                    <label for="id_more_than_six_km">أكثر من ستة كيلومترات</label>
                    {{ form.more_than_six_km }}
                    {% if form.more_than_six_km.errors %}
                      <div class="text-danger">
                        {% for error in form.more_than_six_km.errors %}
                          <span>{{ error }}</span><br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
          
                  
          
                  <div class="form-group ">
                    <label for="id_average_speed">السرعة المتوسطة</label>
                    {{ form.average_speed }}
                    {% if form.average_speed.errors %}
                      <div class="text-danger">
                        {% for error in form.average_speed.errors %}
                          <span>{{ error }}</span><br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                <button type="submit" class="btn btn-primary ">حفظ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}