{% extends "../../base.html" %}
{% block title %}  Drivers Financial {% endblock %}
{% block driver_financial %}active{% endblock driver_financial %}
{% block financial_collapse %}show{% endblock financial_collapse %}
{% block financial %} active{% endblock financial %}
{% block breadcrumbt %}
    <li class="breadcrumb-item "><a a class="text-light" href="{% url "main_dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="{% url "drivers_wallet_list" %}">Drivers Financial</a></li>
{% endblock breadcrumbt %}

{% block content %}

<div class="container text-center">
    <h3 class="text-primary">المستحقات المالية</h3>
    <a class="btn btn-primary m-2" href="{% url "category_create" %}"> <i class="bi bi-plus-circle white-icon"></i></a>
    <table class="table table-responsive-sm table-striped table-dark table-hover text-white">
        <thead>
            <tr class="text-primary">
                <th>#</th>
                <th class='text-center'>المندوب</th>
                <th class='text-center'>رقم الهاتف</th>
                <th class='text-center'>الايبان</th>
                <th class='text-center'>البنك</th>
                <th>المستحق</th>
                
            </tr>
        </thead>
        <tbody>
            {% for driver_wallet in driver_wallets %}
            <tr class="clickable-row" onclick="window.location.href='{% url "drivers_wallet_details" driver_wallet.user.driver.id  %}'">
                <td>{{ driver_wallet.user.id }}</td>
                <td>{{ driver_wallet.user.fullName }}</td>
                <td>{{ driver_wallet.user.phone }}</td>
                <td>{{ driver_wallet.user.driver.iban }}</td>
                <td>{{ driver_wallet.user.driver.bankName }}</td>
                <td>{{ driver_wallet.balance }}</td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">لا يوجد </td>
            </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
     <!-- Pagination links -->
     <div class="pagination">
        <span class="step-links">
            {% if orders.has_previous %}
                <a class="btn btn-primary" href="?page=1">&laquo; first</a>
                <a class="btn btn-primary" href="?page={{ orders.previous_page_number }}">previous</a>
            {% endif %}
    
            <div class="current m-2">
                صفحة {{ orders.number }} من {{ num_pages }}.
            </div>
    
            {% if orders.has_next %}
                <a class="btn btn-primary" href="?page={{ orders.next_page_number }}">next</a>
                <a class="btn btn-primary"  href="?page={{ num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}