{% extends "../../base.html" %}
{% block title %}  Drivers Financial {% endblock %}
{% block driver_financial %}active{% endblock driver_financial %}
{% block financial_collapse %}show{% endblock financial_collapse %}
{% block financial %} active{% endblock financial %}
{% block breadcrumbt %}
    <li class="breadcrumb-item "><a a class="text-light" href="{% url "main_dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="{% url "drivers_wallet_list" %}">Drivers Financial</a></li>
{% endblock breadcrumbt %}

{% block content %}
<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade " id="transformToExcel" tabindex="-1" role="dialog" aria-labelledby="transformToExcelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-light">
          <h5 class="modal-title text-light" id="transformToExcelLabel">تأكيد التحويل</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-dark text-light text-right">
          <p>هل أنت متأكد من تحويل القوائم المالية إلى ملف إكسل ؟</p>
          <p class="text-danger">ملاحظة: سيتم إعادة تهيئة المحافظ في التطبيق!</p>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
          <a href="{% url "drivers-excel" %}" class="btn btn-primary">تحويل</a>
        </div>
      </div>
    </div>
  </div>

<div class="container text-center">
    <h3 class="text-primary">المستحقات المالية</h3>
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#transformToExcel">
        تحويل إلى ملف إكسل
      </button>
    <table class="table table-responsive-sm table-striped table-dark table-hover text-white">
        <thead>
            <tr class="text-primary">
                <th>#</th>
                <th class='text-center'>المندوب</th>
                <th class='text-center'>رقم الهاتف</th>
                <th class='text-center'>الايبان</th>
                <th class='text-center'>البنك</th>
                <th>المستحق</th>
                
            </tr>
        </thead>
        <tbody>
            {% for driver_wallet in driver_wallets %}
            <tr class="clickable-row" onclick="window.location.href='{% url "drivers_wallet_details" driver_wallet.user.driver.id  %}'">
                <td>{{ driver_wallet.user.id }}</td>
                <td>{{ driver_wallet.user.fullName }}</td>
                <td>{{ driver_wallet.user.phone }}</td>
                <td>{{ driver_wallet.user.driver.iban }}</td>
                <td>{{ driver_wallet.user.driver.bankName }}</td>
                <td>{{ driver_wallet.balance }}</td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">لا يوجد </td>
            </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
    
</div>
{% endblock content %}