{% extends "../base.html" %}

{% block title %}Update Common Questions{% endblock %}
{% block common_question %}active{% endblock common_question %}
{% block breadcrumbt %}
    <li class="breadcrumb-item"><a class="text-light" href="{% url "main_dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a class="text-light" href="{% url "common_question_list" %}">Common Questions</a></li>
    <li class="breadcrumb-item"><a class="text-primary" href="{% url "common_question_update" common_question.id %}">Update</a></li>
{% endblock breadcrumbt %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center text-primary">تعديل سؤال شائع</h4>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm delete-btn" data-toggle="modal" data-target="#deletecommon_questionModal{{ common_question.id }}">
                        <i class="bi bi-x-octagon white-icon"></i>
                      </button>
                    <form method="post" class="text-right" id="commonQuestionForm">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="form-group">
                            <label for="id_question">السؤال:</label>
                            {{ form.question }}
                            {% for error in form.question.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_answer">الإجابة:</label>
                            {{ form.answer }}
                            {% for error in form.answer.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">تعديل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete common_question Modal -->
<div class="modal fade" id="deletecommon_questionModal{{ common_question.id }}" tabindex="-1" role="dialog" aria-labelledby="deletecommon_questionModalLabel{{ common_question.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletecommon_questionModalLabel{{ common_question.id }}">حذف التصنيف</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <p>هل أنت متأكد من حذف:{{common_question.question}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{% url 'common_question_delete' common_question.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Delete common_question Modal -->
{% endblock %}