{% extends "../../../base.html" %}
{% block title %} update Product {% endblock %}
{% block restaurant %}active{% endblock restaurant %}
{% block users %}active{% endblock users %}
{% block breadcrumbt %}
    <li class="breadcrumb-item "><a a class="text-light" href="{% url "main_dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-light" href="{% url "restaurant_list" %}">Restaurants</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-light" href="{% url "update_restaurant" restaurant.id %}">{{restaurant.restaurantName}}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="{% url "product_list" restaurant.id %}">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href=""> {{ form.name.value }}</a></li>

{% endblock breadcrumbt %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center text-primary">تعديل</h3>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm delete-btn" data-toggle="modal" data-target="#deleteformModal{{product.id}}">
                        <i class="bi bi-x-octagon white-icon"></i>
                      </button>
                    <form method="post" enctype="multipart/form-data" class="text-right">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="id_category">الفئة</label>
                            {{ form.category }}
                        </div>

                        <div class="form-group">
                            <label for="id_image">الصورة</label>
                            <input type="file" name="image" id="id_image" class="form-control-file" accept="image/*">
                        </div>

                        <div class="form-group">
                            <label for="id_name">الاسم</label>
                            {{ form.name }}
                        </div>

                        <div class="form-group">
                            <label for="id_description">الوصف</label>
                            {{ form.description }}
                        </div>

                        <div class="form-group">
                            <label for="id_price">السعر</label>
                            {{ form.price }}
                        </div>

                        <div class="form-group">
                            <label for="id_offers">نسبة الخصم (%)</label>
                            {{ form.offers }}
                        </div>

                        <div class="form-group">
                            <label for="id_quantity">الكمية</label>
                            {{ form.quantity }}
                        </div>

                        <div class="form-group">
                            <label for="id_minimumOrder">الحد الأدنى للطلب</label>
                            {{ form.minimumOrder }}
                        </div>

                        <button type="submit" class="btn btn-primary mt-3">حفظ</button>
                        
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="card text-center">
                <div class="card-body text-light">
                    <h4 class="card-title text-center text-primary">المنتجات الملحقة</h4>
                    <a class="btn btn-primary m-2" href="{% url "add_accessory_product" restaurant.id product.id %}"> <i class="bi bi-plus-circle white-icon"></i></a>
                    <table class="table table-responsive-sm table-striped table-dark table-hover text-white">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>الإسم</th>
                                <th>السعر</th>
                                
                                <th>الكمية</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for accessory in accessorys %}
                            <tr class="clickable-row"  onclick="window.location.href='{% url "update_accessory_product" restaurant.id product.id accessory.id %}'">
                                    <td>{{ accessory.id }}</td>
                                    <td>{{ accessory.name }}</td>
                                    <td>{{ accessory.price }}</td>
                                   
                                    <td>{{ accessory.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>

<!-- Delete form Modal -->
<div class="modal fade" id="deleteformModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteformModalLabel{{product.id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteformModalLabel{{product.id}}">حذف الزبون</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <p> هل أنت متأكد من حذف {{form.name.value}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
          <form action="{% url 'delete_product' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">حذف</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Delete form Modal -->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Handle image upload
        document.getElementById('id_image').addEventListener('change', function() {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    // Display the selected image preview if needed
                };
                reader.readAsDataURL(file);
            }
        });
    });

</script>

{% endblock %}