{% extends '../base.html' %}

{% block title %} Update Advertisement {% endblock %}

{% block css_style %}
    <!-- Add any specific CSS for this page here -->
{% endblock %}

{% block advertisements %} 
active
{% endblock %}

{% block breadcrumbt %}
    <li class="breadcrumb-item "><a class="text-light" href="{% url "main_dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item "><a class="text-light" href="{% url "advertisement_list" %}">Advertisements</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="">{{ advertisement.id }}</a></li>
{% endblock breadcrumbt %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center text-primary">تحديث الإعلان</h3>
            <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm delete-btn" data-toggle="modal" data-target="#deleteAdvertisementModal{{ advertisement.id }}">
                <i class="bi bi-x-octagon white-icon"></i>
            </button>
            <form method="post" enctype="multipart/form-data" class="text-right">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_image">الصورة</label>
                    {{ form.image }}     
                    <span class="text1"></span>
                    <img id="uploaded-image" src="{{ form.image.value.url }}" width="100" alt="الصورة المرفقة" style="display: block;">
                    {% if form.image.errors %}
                        <div class="text-danger">
                            {% for error in form.image.errors %}
                            <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_active">نشط</label>
                    {{ form.active }}
                    {% if form.active.errors %}
                        <div class="text-danger">
                            {% for error in form.active.errors %}
                            <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary mt-3">حفظ</button>
            </form>
        </div>
    </div>
</div>

<!-- Delete Advertisement Modal -->
<div class="modal fade" id="deleteAdvertisementModal{{ advertisement.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteAdvertisementModalLabel{{ advertisement.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAdvertisementModalLabel{{ advertisement.id }}">حذف الإعلان</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark">
                <p>هل أنت متأكد أنك تريد حذف: {{ advertisement.id }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                <form action="{% url 'advertisement_delete' advertisement.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">حذف</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Delete Advertisement Modal -->

<script>
    const fileInput = document.getElementById("id_image");
    fileInput.addEventListener("change", function() {
        const fileName = this.files[0].name;
        const button = document.querySelector(".text1");
        button.innerHTML = fileName;
        const uploadedImage = document.getElementById("uploaded-image");
        uploadedImage.src = URL.createObjectURL(this.files[0]);
        uploadedImage.style.display = "block";
    });
</script>

{% endblock %}

{% block js_script %}
    <!-- Add any specific JS for this page here -->
{% endblock %}
