{% load static %}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link href="{% static "dashboard/css/style.css" %}" rel="stylesheet">
</head>
<body>
    <div id="preloader">
        <div class="spinner"></div>
        
      </div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="col-md-3 d-md-block navbar-expand-lg sidebar">
                <div class="sidebar-sticky">
                    <h4 class="text-center text-primary m-3">DropX</h4>
                    <ul class="nav flex-column text-right">
                        <li class="nav-item">
                            <a id="collapse-myaccount-toggle" class="nav-link collapsed" data-toggle="collapse" href="#collapse-myaccount" aria-expanded="true" aria-controls="collapse-myaccount">
                                <img class="rounded-circle shadow-4-strong" width="25" height="25" alt="avatar2" src="{% static "dashboard/images/user.png" %}" />
                                {% if request.user.is_authenticated %}
                                {{request.user.fullName}}
                                {% else %}
                                User
                                {% endif %}
                            </a>
                            <div class="collapse" id="collapse-myaccount">
                                <ul class="nav flex-column">
                                    {% if request.user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "dashboard-logout" %}">تسجيل خروج</a>
                                    </li>
                                    {% else %}
                                    <a class="nav-link" href="{% url "dashboard-login" %}">تسجيل دخول</a>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block main_dashboard %}{% endblock main_dashboard %}" href="{% url "main_dashboard" %}">لوحة التحكم</a>
                        </li>
                        {% if perms.subscription %}
                        <li class="nav-item">
                            <a id="collapse-subscription-toggle" class="nav-link {% block requests %}{% endblock requests %}" data-toggle="collapse" href="#collapse-subscription" aria-expanded="true" aria-controls="collapse-subscription">طلبات الإشتراك</a>
                            <div class="collapse {% block request_collapse %}{% endblock request_collapse %}" id="collapse-subscription">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% block restaurant_requests %}{% endblock restaurant_requests %}" href="{% url "restaurant_requests_list" %}">مطاعم</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% block driver_requests %}{% endblock driver_requests %}" href="{% url "driver_requests_list" %}">مناديب</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}

                      
                      
                       
                       
                        <li class="nav-item">
                            <a class="nav-link collapsed {% block users %}{% endblock users %}" data-toggle="collapse" href="#collapse-users" aria-expanded="false" aria-controls="collapse-users"> المستخدمين</a>
                            <div class="collapse {% block users_collapse %}{% endblock users_collapse %}" id="collapse-users">
                                <ul class="nav flex-column">
                                    {% if perms.accounts.view_user %}
                                    <li class="nav-item">
                                        <a class="nav-link {% block admins %}{% endblock admins %}" href="{% url "admin_list" %}">موظفين</a>
                                    </li>
                                    {% endif %}
                                    {% if perms.accounts.Restaurants %}
                                    <li class="nav-item">
                                        <a class="nav-link {% block restaurant %}{% endblock restaurant %}" href="{% url "restaurant_list" %}">مطاعم</a>
                                    </li>
                                    {% endif %}
                                    {% if perms.accounts.Driver %}
                                    <li class="nav-item">
                                        <a class="nav-link {% block driver %}{% endblock driver %}" href="{% url "driver_list" %}">مناديب</a>
                                    </li>
                                    {% endif %}
                                    {% if perms.accounts.Clients %}
                                    <li class="nav-item">
                                        <a class="nav-link {% block clients %}{% endblock clients %}" href="{% url "client_list" %}">العملاء</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                       
                        {% if perms.accounts.config %}
                        <li class="nav-item">
                            <a class="nav-link collapsed  {% block config %} {% endblock config %}" data-toggle="collapse" href="#collapse-config" aria-expanded="false" aria-controls="collapse-config">الإعدادات</a>
                            <div class="collapse {% block config_collapse %}{% endblock config_collapse %}" id="collapse-config">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% block order_config %}{% endblock order_config %} " href="{% url "order_config_view" %}">الطلبات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% block subscription_config %}{% endblock subscription_config %}" href="{% url "subscription_config_list" %}">الإشتراك</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% block trip_config %}{% endblock trip_config %}" href="{% url "trip_car_list" %}"> السيارات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% block app_config %}{% endblock app_config %}" href="{% url "edit_app_config" %}">التطبيق</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        {% if perms.accounts.Financial %}
                        <li class="nav-item">
                            <a class="nav-link collapsed  {% block financial %} {% endblock financial %}" data-toggle="collapse" href="#collapse-financial" aria-expanded="false" aria-controls="collapse-financial">القوائم المالية</a>
                            <div class="collapse {% block financial_collapse %}{% endblock financial_collapse %}" id="collapse-financial">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% block restaurant_financial %}{% endblock restaurant_financial %} " href="{% url "restaurants_wallet_list" %}">مطعم</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% block driver_financial %}{% endblock driver_financial %}" href="{% url "drivers_wallet_list" %}">مندوب</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        
                        {% if perms.accounts.Categories %}
                        <li class="nav-item">
                            <a class="nav-link {% block categories %}{% endblock categories %}" href="{% url "category_list" %}">التصنيفات</a>
                        </li>
                        {% endif %}
                         {% comment %} 
                       
                        
                       
                        ("CommonQuestions", "التحكم بالأسئلة الشائعة"),
                        ("Ads", "التحكم بالإعلانات"),
                        ("Support", "التحكم بالدعم"), {% endcomment %}
                        {% if perms.accounts.Coupon %}
                        <li class="nav-item">
                            <a class="nav-link {% block coupon %}{% endblock coupon %}" href="{% url "coupon_list" %}">كوبونات الخصم</a>
                        </li>
                        {% endif %}
                        {% if perms.accounts.Statistics %}
                        <li class="nav-item">
                            <a class="nav-link collapsed  {% block statistics %} {% endblock statistics %}" data-toggle="collapse" href="#collapse-statistics" aria-expanded="false" aria-controls="collapse-statistics">إحصائيات</a>
                            <div class="collapse {% block statistics_collapse %}{% endblock statistics_collapse %}" id="collapse-statistics">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% block order_statistics %}{% endblock order_statistics %} " href="{% url "order_statistics" %}">الطلبات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% block user_statistics %}{% endblock user_statistics %}" href="{% url "user_statistics" %}">المستخدمين</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        {% if perms.accounts.CommonQuestions %}
                        <li class="nav-item">
                            <a class="nav-link {% block common_question %}{% endblock common_question %}" href="{% url "common_question_list" %}">الأسئلة والأجوبة</a>
                        </li>
                        {% endif %}
                        {% if perms.accounts.Ads %}
                        <li class="nav-item">
                            <a class="nav-link {% block advertisements %}{% endblock %}" href="{% url "advertisement_list" %}">الإعلانات</a>
                        </li>
                        {% endif %}
                        {% if perms.accounts.Support %}
                        <li class="nav-item">
                            <a class="nav-link {% block support %}{% endblock support %} " href="{% url "chat-page" %}">الدعم</a>
                        </li>
                       {% endif %}
                        
                        
                    </ul>
                </div>
                
            </nav>

            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-9 main-content">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent">
                          {% block breadcrumbt %}
                          
                          {% endblock breadcrumbt %}
                        </ol>
                    </nav>
                    <button class="btn btn-sm" id="sidebarToggleBtn" type="button" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="bi bi-menu-button-wide white-icon"></i></span> 
                    </button>
                </div>
                {% block content %}
                {% endblock content %}
                <div class="text-center mt-5 p-3">
                  </div>
            </main>
            
        </div>
    </div>
    <script>
        window.addEventListener('load', function() {
          var preloader = document.getElementById('preloader');
          preloader.classList.add('hide');
        });
      </script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Sidebar Toggle Script -->
    <script>
        $(document).ready(function () {
            $('#sidebarToggleBtn').click(function () {
                $('#sidebarMenu').toggleClass('show');
            });
        });

        
    </script>
</body>
</html>