{% extends "../base.html" %}
{% block title %}  Categories {% endblock %}
{% block categories %}active{% endblock categories %}
{% block breadcrumbt %}
    <li class="breadcrumb-item "><a a class="text-light" href="{% url "main_dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="{% url "category_list" %}">Categories</a></li>
{% endblock breadcrumbt %}

{% block content %}


<div class="container text-center">
    <h3 class="text-primary">Categories</h3>
    <a class="btn btn-primary m-2" href="{% url "category_create" %}"> <i class="bi bi-plus-circle white-icon"></i></a>
    <table class="table table-responsive-sm table-striped table-dark table-hover text-white">
        <thead>
            <tr class="text-primary">
                <th>الرقم</th>
                <th>العنوان</th>
                <th class='text-center'>الصورة</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="clickable-row" onclick="window.location.href='{% url "category_update" category.id %}'">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td><img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid img-thumbnail rounded mx-auto d-block" style="max-width: 100px; height: auto;"></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock content %}